
    *{
            text-align: unset;
            overflow-x: hidden;
            margin:0;
            box-sizing: border-box;
            max-width: 1440px;

        }

       p {
         font-family: "Overpass";
         font-size: 16px;
         font-weight: 300;
       }

        .attribution { font-size: 11px; text-align: center; }
        .attribution a { color: hsl(228, 45%, 44%); }

        .cabecalho {
        background-image: linear-gradient(to right,hsl(13, 100%, 72%), hsl(353, 100%, 62%, 0.2)), url('file:///C:/Users/karen/OneDrive/%C3%81rea%20de%20Trabalho/JS/blogr-landing-page-main/images/bg-pattern-intro.svg');
        background-size: 450, 40%;
        background-position: center, center;
        border-bottom-left-radius: 20%;
        background-repeat: no-repeat, no-repeat;
        padding-bottom: 50px, solid;
        }

        .logo {
            display: inline;
            height: 80;
            
        }

        .logo img{
            margin-left: 10px;
            padding-top: 20px;
            height: 12%;
            padding-left: 30px;
        }

        .menu{
            display: inline-block;
            vertical-align: top;
            height: 80px;
            padding: 25px;
            
        }

        .menu ul {
            margin: 0;
            padding: 0;
            margin-left: 120px;
            
        }

        .menu li {
            display: inline-block;
        }

        .menu a {
            padding-top: 15px;
            padding-right: 13px;
            color: white;
            text-decoration: none;            
        }
        
        .autenticacao {
            float: right;
            height: 80px;
            padding: 25px;
            font-family: "Ubuntu";
            font-weight: bold;
        }

        .login {
            color: white;
            text-decoration: none;
        }

      .botao {
            border-radius: 80px;
            padding: 10px 25px;
            margin: auto;
        }

      .destaque {
            background:white;
            color: rgb(255, 82, 93);
            text-decoration: none;
            margin-left: auto;
        }

     
          .head{
              width: 1400px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              padding-bottom: 5%;
              margin-top: 75px;
              
        }    
        
        .botao2 {
            border-radius: 80px;
            padding: 10px 25px;
            }

        .destaque2 {
            text-decoration: none;
            background:white ;
            color:hsl(356, 100%, 66%);
            font-weight: bold;
            }

        .botao3 {
            border-radius: 80px;
            padding: 10px 25px ;
                  
            }

        .destaque3 {
        background: hsl(356, 100%, 66%)e;
        color: white;
        border: solid 1px white;
        text-decoration: none;
        font-weight: bold;
        }

        h1 {
        font-family: "Ubuntu";
        width: 100%;  
        font-size: 45px;    
        color: white;
        text-align: center;
        margin-top: 120px;
        padding-bottom: 5px;
        }

        .p1{
          display: flex;
          color: white;
          align-self: center;
          flex-direction: row;
          width: 325px;
          text-align: center;
          margin: auto;
        }

        p {
        font-family: "Ubuntu";
        font-weight: 400;
        font-size: 14px;
        color: hsl(207, 13%, 34%);
        }

        h3 {
        font-family:"Overpass";
        font-size: 20px;
        font-weight: 700;
        color: hsl(207, 13%, 34%)
        }

        li {
        font-family: "Ubuntu";
        font-size: 15px;
        }

        .titulo1 {
          font-family: "Ubuntu";
          padding-top: 10%;
          font-size: 35px;
          font-weight: 500;
          text-align: center;
          color: hsl(207, 13%, 34%);
          padding-bottom: 65px;

        }

        .parte1{
          /*display: table;*/
          padding: 60px 60px 60px 60px;
          padding-bottom: 450px;
          background-size: 850;
          background-color: white;
          
        }
      
        .editorDesktop { 
          overflow: hidden;
          /*display: table-cell;*/
          width: 55%;
          float: right;
          margin-left: 25%;
          position: absolute;
          margin-top: -150px;
        }

        .subtitulo1{
          float: left;
          margin-top: 7px;
          display: table-cell;
          margin-left: 120px;
        }

        .subtitulo2{
          float: left;
          margin-top: 250px;
          display: table-cell;
          position: absolute;
          margin-left: 120px;
        }

        .texto1{
          display: table-cell;
          float: left;
          margin-right: 7px;
          width: 500px;
          margin-top: 50px;
          position: absolute;
          margin-left: 120px;
          line-height: 25px;
         }

        .texto2{
        float: left;
        width: 500px;
        margin-top: 280px;
        display: table-cell;
        position: absolute;
        margin-left: 120px;
        line-height: 25px;
        }

  
 
        .parte2 {
          background-image: linear-gradient(to right,hsl(237, 23%, 32%, 0.6), hsl(237, 17%, 21%)), url('file:///C:/Users/karen/OneDrive/%C3%81rea%20de%20Trabalho/JS/blogr-landing-page-main/images/bg-pattern-circles.svg');
          height: 400px;
          background-position: left, left;
          background-repeat: no-repeat no-repeat;
          border-top-left-radius: 20%;
          border-bottom-right-radius: 20%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 10vh 10vh;
          grid-template-areas: "...."
                                "subtitulo3"
                                "texto3"
                                "....";
         
        }
        

        .subtitulo3 {
          font-family: "Overpass";
          color: white;
          grid-area: subtitulo3;
          align-self: end;
          grid-column-start: 3; 
          grid-row-start: 7;
          margin-bottom: 350px;
          
        }

        .texto3 {
          color: white;
          font-family: "Overpass";
          grid-area: texto3;
          align-self: end;
          width: 500px;
          line-height: 25px;
          grid-column-start: 3; 
          grid-row-start: 7;
          margin-bottom: 250px;
        }


        .Phones{
          grid-area: Phones;
          align-self: stretch;
          object-fit: cover;
          grid-column-start: 0; 
          grid-column-end: 1;
          margin-left: 120px;
          margin-bottom: 180px;
          position: absolute;
          z-index: 4;
          
        }
        .parte3{
          width: 100%;
          padding-bottom: 450px;
          
          background-size: 900px;
          background-color: white;
          position: relative;
          overflow: hidden;
          padding-top: 150px;
          margin-bottom: 150px;
          margin-right: 0;
        }

        .laptopDesktop {
          text-align: left;
          display: relative;
          width: 65%;
          margin-top: -150px;
          margin-left: -250px;
          display: table-cell;
          position: absolute;
        }

        .subtitulo4 {
          float: right;
          margin-top: 7px;
          display: table-cell;
          margin-left: 725px;
          position: absolute;
        }

        .subtitulo5{
          float: right;
          margin-top: 250px;
          display: table-cell;
          position: absolute;
          margin-left: 725px;
        }

        .texto4 {
        float: right;
        width: 500px;
        margin-top: 35px;
        display: table-cell;
        position: absolute;
        margin-left: 725px;
        line-height: 25px;
        }

        .texto5{
          float: right;
          width: 500px;
          margin-top: 280px;
          display: table-cell;
          position: absolute;
          margin-left: 725px;
          line-height: 25px;
          }
        
        footer {
          background-color: hsl(240, 10%, 16%);
          height: auto;
          border-top-right-radius: 20%;
          padding-top: 45px;
          padding-bottom: 45px;
        }
        .foot {
          display: flex;
          flex-direction: row;
          justify-content:space-around;
          margin-left: 120px;
          margin-right: 180px;
          }
        
        .foot li {
          padding-top: 10px;
         }

         h4 {
           padding-bottom: 10px;
           color: white;
           font-weight: 600;
         }

         .foot a {
           color: white;
           text-decoration: none;
           font-weight: 300;
           font-size: 12px;
         }

       

        /* RECURSIVIDADE DESKTOP */

        @media (max-width: 680px){
          .cabecalho {
           display: flex;
         }
           .menu {
             display: none;
           }
           h1, .p1{
           display: none;
         }
           .editorDesktop{
             display: inline-block;
             margin-top: -150px ;
             margin-left: 250px;
             width: 100%;
           }

         .subtitulo1,.subtitulo2,.texto1,.texto2 {
           display: block;
           float: left;
           text-align: left;
           margin-left: auto;
         }

         .Phones{
          display: none
        }
       }
              
       @media (max-width: 950px){
           .autenticacao {
               display: none;
           }

           .head {
               display: none;
           }
           h1, .p1{
           display: none;
         }
         .editorDesktop{
             display: inline-block;
             margin-left: 250px;
             margin-top: auto;
             width: 80%;
             margin-top: -150px;
           }
           .subtitulo1,.subtitulo2,.texto1,.texto2 {
           display: block;
           float: left;
           text-align: left;
           margin-left: auto;
         }
         .parte2{
           display: absolute;
           float: right;
           background-size: 100%;
           overflow-y: hidden;
         }
         .Phones{
           display: none
         }
         .laptopDesktop {
           display: none;
         }

         .subtitulo4,.subtitulo5, .texto4, .texto5{
             display: block;
             float: left;
             text-align: left;
             margin-left: 65px;          
       } 
     }

